.App {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
}

.container {
  width: 1024px;
  height: 724px;
}

.container > img {
  position: relative;
}

.container > button {
  position: absolute;
  top: 290px;
  left: 482px;
  width: 18%;
  padding-left: 0;
  padding-right: 0;
  height: 9%;
  background-color: white;
  font-weight: bold;
  border-style: ridge;
  border-width: 8px;
  border-color: aquamarine;
  opacity: 0.7;
}

.container > button:hover {
  opacity: 1;
}

/* #map {
  position: absolute;
  top: 0;
  left: 5px;
} */

.fade-out {
  animation: fadeOut 5s;
  -webkit-animation: fadeOut 5s;
  -moz-animation: fadeOut 5s;
  -ms-animation: fadeOut 5s;
}

.fade-out-fast {
  animation: fadeOut 1.5s;
  -webkit-animation: fadeOut 1.5s;
  -moz-animation: fadeOut 1.5s;
  -ms-animation: fadeOut 1.5s;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  99% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes fadeOut {
  0% { opacity: 1; }
  99% { opacity: 0; }
    100% { opacity: 0; }
}

.details {
  width: 320px;
  position: absolute;
  left: 334px;
  top: 0;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 20px;
  background-color: lightyellow;
  opacity: 85%;
}

@media only screen and (max-width: 700px) {
  .details {
     width: 100%;
     left: 0;
  }
}

/* @media screen and (max-width: 900px) {
  .details {
     width: 50%;
     left: 334px;
  }
} */

.heading {
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

#plotInfo {
  margin-left: 10px;
}

.key {
  padding-right: 40px;
  padding-bottom: 5px;
}

.X {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  font-weight: bold;
  margin-right: 5px;
  margin-top: 5px;
}

.X:hover {
  color: green;
  cursor: pointer;
}